/* General section*/
* {box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
    background-color: #ebf4ff;
    color: #B53000 ;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem;
    padding: 1rem;
}

a {
    color: #B53000 ;
}

img {
    max-width: 100%;
}

/* Header section */
header {
    background-color: #0078A8 ;
    margin: 0;
    padding: 0;
    border-radius: 2px;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 0 25px;
}

.main-menu ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

ul li a, a {
   font-size: 20px;
}
.logo {
    height: 100px;
}

/* Main content section */
.main-content {
    max-width: 900px;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

p {
    line-height: 1.6;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
}

.picture {
    max-width: 100%;
    position: relative;
}

.caption {
    position: absolute;
    font-size: 8px;
    right: 0;
}

.list1 {
    list-style-type: square;
    text-indent: 7%;
}

.para1 {
    text-indent:7%;
}

.address {
    text-indent: 7%;
}

.contact {
    color: darkblue;
    text-indent: 7%;
}

.form-input {
    border: 2px solid chocolate;
    border-radius: 2px;
    font-size: 14px;
    padding: 0.5em;
    margin: 0.5em;
    width: 100%;
    resize: vertical;

}

.form-input:focus {
    outline: none;
    border: 4px solid #0078A8;
}

[type="submit"] {
    background: goldenrod; 
    font-weight: 400;
    font-size: larger;
    border: 0;
    cursor: pointer;

}

[type="submit"]:hover,
[type="submit"]:focus {
    background: gold;
}

.error{
    border-color:red;
}

.error-message{
    color: red;
    width: 100%;
    
}

.download-btn{
    cursor: pointer;
    background: goldenrod; 
    font-weight: 400;
    font-size: larger;
    border: 0;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 ratio */
    height: 0;
    overflow: hidden;
    margin-top: 20px;
    border-radius: 10px;
}

.video-container video,
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

@media screen and (min-width: 1000px){
    form {
        width: 50%;
        margin: 2em auto;
    }
}
/* Footer Section */
footer {
    background-color: #0078A8 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    margin: auto;
}

footer div {
    margin: 5px 0;
}

footer a {
    font-size: 16px;
    border-radius: 2px;
}
